<<<<<<< a570c0cf0b23b075ce134630bb69efc07d3361fd
$topnav-background-color: #38f;
.topnav {
    border-radius: 0;
    background-color: $topnav-background-color;
    padding : 6px;
    z-index:2;
    .text-center{
        text-align: center;
        padding-left : 0;
        cursor: pointer;
    }
    .top-right-nav{
        .buy-now{
            a{
                color:#999;
            }
        }
        .dropdown-menu{
            top: 40px;
            right: -5px;
            left : auto;
            .message-preview{
                .media{
                    .media-body{
                        .media-heading{
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom : 0;
                        }
                        p{
                            margin : 0;
                        }
                        p.last{
                            font-size : 13px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            hr {
                margin-top: 1px;
                margin-bottom: 4px;
            }
        }
    }
}
.messages {
    width: 300px;
    .media {
        border-bottom: 1px solid #DDD;
        padding: 5px 10px;
        &:last-child {
            border-bottom: none;
        }
=======
$topnav-background-color: #fff;
.header .navbar {
    margin-left: 235px;
    background: $topnav-background-color !important;
    height: 60px;
    line-height: 60px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.05);
    .nav-link {
        color: #000;
>>>>>>> 修改头部和侧边栏
    }
    .dropdown-menu{
        .dropdown-item{
            height: 35px;
            line-height: 35px;
        }

    }
<<<<<<< a570c0cf0b23b075ce134630bb69efc07d3361fd
}
.header .navbar {
    background: $topnav-background-color !important;
}
=======

}
>>>>>>> 修改头部和侧边栏
