<div class="pos-f-t header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="btn btn-secondary btn-xs" (click)="ToggleNavbar()" placement="right">
            <i class="fa fa-dedent fa-fw" [hidden]="navClose"></i>
            <i class="fa fa-indent fa-fw" [hidden]="!navClose"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <div class="nav-item dropdown">
                    <a class="nav-link" (click)="isCollapsed=!isCollapsed">
                        {{ username }} <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" [collapse]="isCollapsed">
                        <a class="dropdown-item" (click)="isCollapsed=!isCollapsed" [routerLink]="['/profile']"><i class="fa fa-fw fa-user"></i> 个人资料</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="isCollapsed=!isCollapsed" [routerLink]="['/account/logout']"><i class="fa fa-fw fa-power-off"></i> 注销</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
