<div class="wrapper">
  <div class="col-lg-12">
    <h1 class="page-header">管理首页</h1>
  </div>
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">管理信息</div>
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="id" class="label">编号</label>
            <span id="id" class="text-input">1</span>
          </div>
          <div class="form-group">
            <label for="name" class="label">名称</label>
            <span id="name" class="text-input">cqhand</span>
          </div>
          <div class="form-group">
            <label for="state" class="label">状态</label>
            <span id="state" class="btn btn-success">启用</span>
          </div>
          <hr>
          <div class="form-group">
            <span  class="btn btn-danger">账户安全提示</span>
            <label  class="label">两步验证未启用 请<a href="">立即启用</a></label>
          </div>
          <hr>
          <p>
            <label class="label">最近登录</label>
          </p>
          <p>
            2017-06-15 16:50:59 192.168.1.199 局域网 (Windows 10 - Chrome 58.0)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
